Source: iwd
Section: net
Priority: optional
Origin: Devuan
Maintainer: Job Bautista <jobbautista9@protonmail.com>
Build-Depends: debhelper-compat (= 12),
               libreadline-dev,
               libdbus-1-dev,
               openssl <!nocheck>,
               python3-docutils <!nodoc>,
Standards-Version: 4.2.1
Vcs-Git: https://git.devuan.org/devuan/iwd.git
Vcs-Browser: https://git.devuan.org/devuan/iwd

Package: iwd
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: wireless daemon for Linux
 Minimalistic wireless daemon that uses modern Linux interfaces like
 cfg80211 and nl80211 (netlink). The daemon provides a D-Bus API.
 .
 The daemon can be controlled from the command line with the included
 iwctl client utility.
 .
 The included iwmon utility can be used to monitor the 802.11 subsystem
 generic netlink commands and events. It uses the nlmon kernel driver
 from Linux 3.10 and later.
