#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# ignore known failing tests
export XFAIL_TESTS = test-wsc test-eap-sim

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd --no-enable --no-start --no-stop-on-upgrade
